# This is a basic workflow to help you get started with Actions

name: build-and-test-backend

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  backend:
    # The type of runner that the job will run on
    runs-on: ubuntu-18.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2.3.3

      # Runs a single command using the runners shell
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
            java-version: '11'
            distribution: 'adopt'

      # Runs a set of commands using the runners shell
      - name: Build and test with Maven
        run: mvn clean verify --file ./backendapi/simple-api
        
  
  
  build-and-push-docker-image:

    needs: backend
    # run only when code is compiling and tests are passing
    runs-on: ubuntu-latest
    
    # steps to perform in job
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to DockerHub
        run: docker login -u ${{secrets.DOCKERHUB_USERNAME}} -p ${{secrets.DOCKERHUB_TOKEN}}

      - name: Build image and push backend
        uses: docker/build-push-action@v2
        with:
          # relative path to the place where source code with Dockerfile is located
          context: ./API/simple-api-main/simple-api-main/simple-api
          # Note: tags has to be all lower-case
          tags: ${{secrets.DOCKERHUB_USER}}/backend
          push: ${{ github.ref == 'refs/heads/master' }}

      - name: Build image and push database
        uses: docker/build-push-action@v2
        with:
          # relative path to the place where source code with Dockerfile is located
          context: ./bdd
          # Note: tags has to be all lower-case
          tags: ${{secrets.DOCKERHUB_USER}}/some-postgres
          push: ${{ github.ref == 'refs/heads/master' }}

      - name: Build image and push httpd
        uses: docker/build-push-action@v2
        with:
          # relative path to the place where source code with Dockerfile is located
          context: ./http
          # Note: tags has to be all lower-case
          tags: ${{secrets.DOCKERHUB_USER}}/server-http
          push: ${{ github.ref == 'refs/heads/master' }} 

